{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Content block -->
{% block content %}

<div class="container-fluid">
    <div class="row" id="top">
        <div class="col-md-12 heading text-center">
                <h1>{{title}}</h1>
                <h4>Get news from your preferred source on the go.</h4>
            </div>
    </div>
</div>
    <div>
        <hr>
        {{ macro.displaySourceList(general)}}
    </div>

    <div>
        <hr>
        {{ macro.displaySourceList(business)}}
    </div>

    <div>
        <hr>
        {{ macro.displaySourceList(technology)}}
    </div>
    
    <div>
        <hr>
        {{ macro.displaySourceList(science)}}
    </div>
    <div>
        <hr>
        {{ macro.displaySourceList(entertainment)}}
    </div>

{% endblock%}
