{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Content block -->
{% block content %}


    <h1> {{title}} </h1>

    <div>
        <hr>
        {{ macro.displaySourceList(general)}}
    </div>

    <div>
        <hr>
        {{ macro.displaySourceList(business)}}
    </div>

    <div>
        <hr>
        {{ macro.displaySourceList(technology)}}
    </div>
    
    <div>
        <hr>
        {{ macro.displaySourceList(science)}}
    </div>
    <div>
        <hr>
        {{ macro.displaySourceList(entertainment)}}
    </div>

{% endblock%}
