<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">News Reel</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
                <li><a href="/source_category/general"><span class="glyphicon glyphicon-user"></span> General</a></li>
                <li><a href="/source_category/business"><span class="glyphicon glyphicon-user"></span> Business</a></li>
                <li><a href="/source_category/technology"><span class="glyphicon glyphicon-user"></span> Technology</a></li>
                <li><a href="/source_category/science"><span class="glyphicon glyphicon-user"></span> Science</a></li>
                <li><a href="/source_category/entertainment"><span class="glyphicon glyphicon-user"></span> Entertainment</a></li>
                <li><a href="/source_category/sports"><span class="glyphicon glyphicon-user"></span> Science</a></li>
        </ul>
    </div>
</nav>